
<!-- Page Heading -->
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Blank Page <small>Subheading</small>
		</h1>
		<ol class="breadcrumb">
			<li><i class="fa fa-dashboard"></i> <a href="index.html">Dashboard</a>
			</li>
			<li class="active"><i class="fa fa-file"></i>Exercice</li>
		</ol>
	</div>
</div>
<!-- /.row -->


<div id="listeExoTemplate" ng-if="showListExoTemplate == false">		
	<div class="row">
		<button type="button" class="btn btn-red" ng-click="changeView(1)">Annuler</button>
	</div>
	<h3>Date de la seance</h3>
      <div class="row">
     	<div class="col-sm-3">
	        <p class="input-group">
				<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="seance.date" 
				is-open="obj.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
		          <span class="input-group-btn">
	            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
	          </span>
	        </p>
	      </div>
      </div>
      
	<h3>Exercices de la seance:</h3>
	<!-- Liste des exercice template de la seance -->
	<div class="row">
		<div ng-repeat="exerciceTemplate in exos" class="col-lg-3" ng-click="choixExo(exerciceTemplate)">
			<div id="exerciceTemplate-{{exerciceTemplate}}" class="panel panel-primary {{exerciceTemplate.done}}">
				<div class="panel-heading"><h3 class="panel-title">{{exerciceTemplate.name}}</h3></div>
				<div class="panel-body">{{exerciceTemplate.panelBody}}</div>
			</div>
		</div>
	</div>
	<div class="row">
		<button type="button" class="btn btn-success" ng-click="changeView()">Ajouter un exercice</button>
		</div>
	<!-- End Liste des exercice template de la seance -->
</div>

<div id="exoPredef" ng-if="showListExoTemplate == true">
	<h3>Ajouter un exo non present dans le template de seance</h3>
	<div class="row">
		<div class="col-sm-3">
			<h4>Type exo visible</h4>
			<div class="table-responsive max-heigth">
				<table class="table table-bordered table-hover">
					<tbody class="max-heigth">
						<tr ng-repeat="t in exoShown" ng-click="hideExo(t)">
							<td>{{t}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-sm-3 ">
			<h4>Type exo cache</h4>
			<div class="table-responsive max-heigth">
				<table class="table table-bordered table-hover">
					<tbody>
						<tr ng-repeat="t in exoHidden">
							<td ng-click="showExo(t)">{{t}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
	<h4>Selectionner un exercice:</h4>
		<div class="col-lg-3" ng-repeat="exerciceTemplate in exoPredefs" ng-click="choixExo(exerciceTemplate)" ng-if="showLine(exerciceTemplate)")>
			<div id="exerciceTemplate-{{exerciceTemplate.id}}" class="panel panel-primary {{exerciceTemplate.done}}">
				<div class="panel-heading"><h3 class="panel-title">{{exerciceTemplate.name}}</h3></div>
				<div class="panel-body"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<button type="button" class="btn btn-cancel btn-lg" ng-click="changeView()" >Annuler</button>
	</div>
</div>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

