
<!-- Page Heading -->
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Exercice Template <small>Gestion des exercices predefinies</small>
		</h1>
		<ol class="breadcrumb">
			<li><i class="fa fa-dashboard"></i> <a href="index.html">Dashboard</a>
			</li>
			<li class="active"><i class="fa fa-file"></i> Exo Template</li>
		</ol>
	</div>
</div>
<!-- /.row -->
<div id="listExoTemplates" ng-if="actualView === listView[0]">
	<div class="row">
		<!--  EXERCICE PREDEFINIE -->
		<div class="col-lg-12">
	
			<h2>Liste des exercices predefinie</h2>
			<!-- Trigger the modal with a button -->
			<button type="button" class="btn btn-info btn-lg"
				ng-click="changeView(1)">Creer un exercice</button>
	
	
		</div>
		<!-- fin creation exo template  -->
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h2>List</h2>
			<select ng-model="exoTemplate.type" multiple >
				<option ng-repeat="t in exoShown" value="{{t}}" selected ng-click="hideExo(t)">{{t}}</option>
			</select>
			<select ng-model="exoTemplate.type" multiple >
				<option ng-repeat="t in exoHidden" value="{{t}}" selected ng-click="showExo(t)">{{t}}</option>
			</select>
			<div class="table-responsive">
				<table class="table table-bordered table-hover">
					<thead>
						<th>Id</th><th>name</th><th>type</th>
					</thead>
					<tbody>
						<tr ng-repeat="e in exoTemplates" ng-click="updateExoTemplate(e)" ng-if="showLine(e)">
							<td>{{e.id}}</td>
							<td>{{e.name}}</td>
							<td>{{e.type}}</td>
						</tr>
					</tbody>
				</table>
			</div>
	    </div>
	</div>
	<!-- Fin liste exoPredef -->
</div>
<!-- Modal -->	
<div id="createUpdateExoTemplate" ng-if="actualView === listView[1]">
	<div class="row">
		<form name="createExoTemplate" role="form"
			ng-submit="submitCreateExoTemplate()">
			<div class="form-group">
				<label>id</label> <input type="text" 
					class="form-control" ng-model="exoTemplate.id" readonly/>
			</div>
			<div class="form-group">
				<label>name</label> <input class="form-control" name="name"
					ng-model="exoTemplate.name">
			</div>
			<div class="form-group">
				<label>type</label>
				<select ng-model="exoTemplate.type" multiple >
					<option ng-repeat="t in typeExo " value="{{t.id}}">{{t.value}}</option>
				</select>
			</div>
			<div class="form-group">
				<label>comment</label>
				<textarea rows="3" class="form-control"
					placeholder="entrer un commentaire" ng-model="exoTemplate.comment" ></textarea>
			</div>
			<div class="form-group">
				<label>Image</label>
				<input type="text" readonly ng-model="exoTemplate.image" class="form-control" />
			</div>

			<button type="submit" ng-disabled="editForm.$invalid" 
				class="btn btn-primary">
				<span class="glyphicon glyphicon-save"></span>&nbsp;<span
					translate="entity.action.save">Save</span>
			</button>
			<button type="button" class="btn btn-default"
				ng-click="changeView(0)">Close</button>
		</form>
	</div>
</div>
